EXTRACT_REGULAR_SCALE=1
EXTRACT_BLUEPRINT_SCALE=1
EXTRACT_AUGMENT_SHIFT_REGULAR=0.1
EXTRACT_AUGMENT_SHIFT_BLUEPRINT=0.1
EXTRACT_AUGMENT_FILL=black
EXTRACT_AUGMENT_COUNT=3

# Box detector training
BOX_DETECTOR_TEST_RATIO=0.2
BOX_DETECTOR_MODEL_PATH=data/box_detector_model
TRAINING_EPOCHS=50
